<div class="body">
    <div class="description">
        <p class="partone"> SO, YOU WANT TO TRAVEL TO</p>
        <p class="parttwo"> SPACE </p>
        <p class="partthree">Let’s face it; if you want to go to
            space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit
            back,
            and
            relax because we’ll give you a truly out of this world experience!
        </p>
    </div>
    <div class="explore">
        <p class="exploretext">EXPLORE</p>
    </div>

</div>