*{
color: white;
}
.body{
    margin-top:200px ;
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    justify-content: space-around;
    align-items: center;

}
.explore{
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 50px;
    border-radius: 50%;
    background-color: white;
}
.exploretext{
    color: black;
    margin-top: 60px;
}
.partone{
    font-size: 20px;
}
.parttwo{
    font-size: 50px;
}
.description{
    width: 50%;
    color: white;
letter-spacing: 2px;

line-height: 1.8;

}
@media only screen and (max-width: 600px) {
    .body {
      flex-direction: column;
    }
  }