<div class="navbarpage">


    <div class="mainnav">
        <hr>
    </div>
    <div class="navbar">

        <a class="routerlink" routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">
            <p> 00 Home </p>
        </a>
        <a class="routerlink" routerLink="/destination" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">
            <p> 01 Destination</p>
        </a>
        <a class="routerlink" routerLink="/crew" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">
            <p> 02 Crew </p>
        </a>
        <a class="routerlink" routerLink="/technology" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">
            <p> 03 Technology</p>
        </a>
    </div>
</div>