<div class="body4">
    <p style="margin-top: 40px;">03 SPACE LAUNCH</p>
    <div class="mainbody4">
        <div class="numbers">
            <p id="one">1</p>
            <p>2</p>
            <p>3</p>
        </div>
        <div class="description">
            <p>THE TERMINOLOGY</p>
            <h3>LAUNCH VEHICLE</h3>
            <p>A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's
                surface to
                space, usually to Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in operation.
                Standing 150
                meters tall. It's quite an awe-inspirin sight on the launch pad!</p>
        </div>
        <div class="shipimage"></div>
    </div>
</div>