<div class="body2">
    <p>01 PICK YOUR DESTINATION</p>

    <div class="mainpart">
        <div class="mainpart1">

        </div>
        <div class="mainpart2">
            <div class="tabs">

                <p>MOON</p>
                <p>MARS</p>
                <p>EUROPA</p>
                <p>TITAN</p>
            </div>
            <h1>MARS</h1>
            <p class="maintext">Don't forget to pack your hiking boots. You'll need them to tackle Olympus Mons. The
                tallest planetary
                mountain
                in
                our solar system. It's two and a half times the size of Everest!</p>
            <hr>
            <div class="titless">
                <div class="titles">
                    <p>AVG. DISTANCE</p>
                    <p>EST. TRAVEL TIME</p>
                </div>
                <div class="titles2">

                    <p>225 MIL. KM</p>
                    <p>9 MONTHS</p>
                </div>
            </div>
        </div>
    </div>
</div>